<div style="padding-top: 15px;">
  <%= "#{@todo_list.list_due_date}" %>
  <%= content_tag :span, "#{@todo_list.list_name}", style: "font:bold 15px arial, sans-serif;" %>
  <%= link_to 'Add Todo Item', new_todo_list_todo_item_path(@todo_list) %>
</div>

<% @todo_list.todo_items.each do |todo_item| %>
  <div style="padding-top: 15px;">
  <%= "#{todo_item.due_date}" %> <%= "#{todo_item.task_title}" %>
  </div>
<% end %>
<p/>
<%= will_paginate @todo_list.todo_items %>
